<div class="post_comments">
  {{ template "_internal/disqus.html" . }}
  <!-- add custom comments markup here -->
  <script src="https://utteranc.es/client.js"
        repo="{{ $.Site.Params.utterances.repo }}"
        issue-term="{{ $.Site.Params.utterances.issueterm }}"
        theme="{{ $.Site.Params.utterances.theme }}"
        crossorigin="anonymous"
        async>
  </script>
</div>
